ibm-db-sa==0.3.9
ibm_db==3.1.1
ipykernel
ipython
ipywidgets
fastparquet
joblib==1.1.1
jsons
lightgbm==3.2.1
matplotlib
notebook
openpyxl==3.1.2
optbinning==0.17.3
optuna==3.5.0
ortools
pandas==1.5.3
quarto
ploomber
polars
plotly
plotnine
pyarrow
PyYAML
pyjanitor
pyodbc==4.0.39
scikit-learn==1.2.0
scikit-misc==0.3.1
scipy==1.10.0
seaborn
shap
siuba
SQLAlchemy==1.4.39
statsmodels==0.14.1
streamlit
Unidecode
xgboost==2.0.3
XlsxWriter==3.1.9
zipp==3.17.0
